.gridster ul li {
    list-style-type: none;
}

.gridster textarea {
    width: 100%;
}

.gridster .red {
    background-color: RED;
}

.gridster .green {
    background-color: GREEN;
}

.gridster .blue {
    background-color: BLUE;
}

.gridster .yellow {
    background-color: YELLOW;
}

.gridster .pink {
    background-color: PINK;
}

.gridster .orange {
    background-color: ORANGE;
}

.gridster .grey {
    background-color: GREY;
}
