/**
 * @file
 * Layout elements.
 */

html, body {
    height: 100%;
}

// Main Content

.main-content {
    padding: 2em 1em;
    min-height: 100%;
    @include breakpoint($break-medium) {
        margin: 0;
        padding: 3em 8em 3em 2em;
    }
}

.content {
    padding-bottom: 80px;
}

.footer {
    margin: -80px 0 0 0;
    padding: 1em 0;
    border-top: solid 1px $clouds;
    @include typecsset-font-size(12px);
    color: $asbestos;
}
