{#
/**
 * Default theme implementation gridster test page.
 */
#}
{{ kint() }}

<div class="gridster">
  <p>Variable 1: {{ var1 }}</p>
  <p>Variable 2: {{ var2 }}</p>
  <p>Variable 3: {{ var3 }}</p>
  <p><button id="js-serialize">Serialize me</button></p>
    <textarea id="log" rows="2"></textarea>
  <p><button id="add-widget">Add widget</button></p>
  <p><input type="text" id="widget-list"></p>

    <ul id="grid">
        <li class="red" data-row="1" data-col="1" data-sizex="2" data-sizey="1">RED</li>
        <li class="green" data-row="2" data-col="1" data-sizex="2" data-sizey="1">GREEN</li>
        <li class="blue" data-row="3" data-col="1" data-sizex="2" data-sizey="1">BLUE</li>

        <li class="yellow" data-row="1" data-col="4" data-sizex="2" data-sizey="1">YELLOW</li>
        <li class="grey" data-row="2" data-col="4" data-sizex="2" data-sizey="1">GREY</li>
        <li class="orange" data-row="3" data-col="4" data-sizex="2" data-sizey="1">ORANGE</li>

    </ul>

</div>