{#
/**
 * @file display a single page.
 */
#}
<div class="main-content">
    {% if messages %}
        <div id="messages">
            <div class="contain">
                {{ messages }}
            </div>
        </div>
    {% endif %}
    {% if tabs %}
        <nav class="tabs" role="navigation">
            {{ tabs }}
        </nav>
    {% endif %}
    {{ page.help }}
    {% if action_links %}
        <ul class="action-links">
            {{ action_links }}
        </ul>
    {% endif %}
    <main class="content"  role="main">
        {{ title_prefix }}
        {% if title %}
            <h1 class="title" class="page-title">
                {{ title }}
            </h1>
        {% endif %}
        {{ title_suffix }}
        {{ page.content }}
    </main>
    <footer  footer="footer">
        {% if page.footer %}
            {{ page.footer }}
        {% endif %}
    </footer>
</div>
